
.message-list {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-list .message-table {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.message-list .app-textbox {
  height: 80px;
}